python-dotenv
pydantic
pydantic-settings
streamlit
plotly
wordcloud
matplotlib
sqlalchemy
aiosqlite
chromadb>=1.0.9
openai
google-generativeai
langchain
langchain-openai
langchain-chroma
langchain-community
tiktoken
pandas
numpy
